html,body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}
a{
color:#3379B7;
} 

.container{
    margin: 0 auto;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Semibold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Roboto-Italic.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*inicio B Brasil*/
#barra-brasil {
    background: #53656B url("../img/bbrasil.png") no-repeat scroll center bottom;
    min-width: 300px;
    overflow: hidden;
    position: relative;
}

#barra-brasil .barra {
    background: rgba(0, 0, 0, 0) url("../img/bbrasil.gif") repeat-x scroll 0 bottom;
    display: block;
    height: 28px;
    margin: 0 auto;
    max-width: 1050px;
}
#barra-brasil .barra ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 319px;
}
#barra-brasil .barra ul li {
    float: left;
    list-style-type: none;
    padding-left: 25px;
}
#barra-brasil .imformacao {
    background: #53656B url("../img/ai.png") no-repeat scroll 0 4px;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 161px;

}
#barra-brasil .brasil {
    background: #53656B url("../img/brasil.png") no-repeat scroll 0 4px;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 108px;
}
/*fim B Brasil*/
/* Acessibilidade */
#acessibilidade{
    font-family: 'Roboto';
    background: #eee;
    font-size: 11px;
}
#acessibilidade a{
    color:#53656B;
}
/*fim acessibilidade*/
/*Inicio topo*/
#topo{
    margin: 0;    
    background: #53656B /* url('../img/FundoPROCCE2.svg')no-repeat center center */;          
}
#logo {
    margin: 1em auto; 
    width: 65%; 
}
#topo-titulo{
    padding: 0;
    margin: 3em 0 0;
}
#topo-titulo h2, #topo-titulo h3,#topo-titulo h5{
    color: #fff;
    font-family:  "Open Sans", sans-serif;
    text-transform: uppercase; 
    font-weight: 400; 
}
#topo-titulo h2{
    font-weight: 900;
    font-size: 4.8em;
    margin: -10px 0 0 -3px;
    float:left;
}
#topo-titulo h3{
    font-size: 1.4em; 
    margin: 0;
}
#topo-titulo h5{
    font-size: 2.1em;
    float:left;
    margin: 0;
    padding: 13px 0 0 15px; 
}

#topo-titulo a{
    color: #fff;
    text-decoration: none;
    float:right;
    margin: -3em 0 0 0;
}
/* barra topo site ufopa*/
#faixa-topo .col-md-10{
    height:4px;
    background:#9BBA3C;
}
#faixa-topo{
    padding:0;
}
#faixa-topo .col-md-1{
    background:#74803E;
    height:4px;
}
#faixa-topo .faixa1{
    height:4px;
    background:#BEC370;
}
/*fim barra topo site ufopa*/
.titulo-ufopa2{
    color:#CFDDA9;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size:1.592em;  
}
/*fim topo*/
#menu-barra-temp{
    list-style:none;
}
#linha-barra-1{
    display:inline; 
    float:left;
    padding-right:10px; 
    margin-right:10px; 
    border-right:1px solid #EDEDED
}
#link-barra-1{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
#link-barra-2{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
.btn-search{
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-bottom: 10px;
}
.btn-search:hover {
    color:#fff;
}
.courses-searching{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.2, 0.2);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}
.search-active .courses-searching{
    transform: scale(1,1);
    opacity: 1;
    visibility: visible;
}
.courses-searching form{
    bottom: 0;
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 999999999;
}
.search-popup-bg{
    cursor: url("../img/close.png"), progress;
    height: 100%;
    position: absolute;
    width: 100%;
}

.courses-searching form input[type='text']{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #999;
    float: left;
    font-size: 15px;
    height: 50px;
    line-height: 40px;
    margin: 0;
    padding-left: 20px;
    width: calc(100% - 50px);
}   
.courses-searching form button{
    background: #9AB93B none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    float: left;
    padding: .87em;
    transition: all 0.2s ease-in-out 0s;
    font-size: 1.6em;
}
#search-wrapper .form-group span{
    color: #fff;
    font-size: 12px;
} 

/*inicio menu*/
#menu{

    background: #758287;
}
#menu li > a  {
    text-transform: uppercase;
}
.navegacao{
    padding-right: 0;
}
.navbar{
    border: none;
    margin-bottom: 0;
}
.navbar-toggle{
    background: #ccc;
}
.navbar-toggle .icon-bar {
    background: #000;
}
#menu li a{
    font-family: 'Roboto';
    font-size: 1.6em;
    color: #fff;
    background: #758287;
    padding: 15px 4em;    
}
#menu li.active a, #menu li a:hover, #menu li a:focus, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #fff;
    background:  #646f73;
}
.caret {
    margin-left: 0px;
}
.caret2{
    font-size: 10px !important;
}
.dropdown-menu a{
    padding: 7.5px 1em !important;
    font-weight: 400 !important;
}
.dropdown-menu {
    font-size:  .935em;
    font-weight:400;
}
.dropdown-menu > li > a {
  text-transform: none !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-header{
    margin-top: -1px;
}
#menu ul{
    padding: 0;
}

/* menu admin*/
#menu-admin{
    font-family: 'Roboto';
    font-size: 1.5em;
}
/* fim menu admin*/

/* conteudo */

.conteudo-comum .linha-inicio{
    margin-top: .8em;
    padding: .9em;     /* ufopa padding : 0*/
    font-size: 14px;
    color:#467F7B;
    font-weight: bold;
    background: #E7F1F3;     /*ufopa #fff*/
}
.conteudo-comum .linha-inicio ol{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.conteudo-comum .linha-inicio a{
    color:#467F7B;
    text-decoration: none;
    font-weight: 400;
}
.conteudo-noticia .data-noticia{
    color: #8C8C8C;
    font-size: 1.1em;
    font-weight: normal;
    margin: 2em 0;
}
#conteudo-noticia .conteudo-noticia{
    margin: 2em 0; 
    /*font-size: 1.285em;*/
    color: #53636B;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
}
.conteudo-noticia .descricao{
  font-size: 1em;
  margin-bottom: 2em;
}
#conteudo-noticia  .tag_ufopa {
    background: #00656D;
}
.tag_ensino-e-educacao{
    background: #00656D;
}
#conteudo-noticia  .tag {
    z-index: 100;
    float: left;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    padding: .5em;
}
#conteudo-noticia  .tag a{
  color: #fff; 
}
.conteudo-comum .redessociais{
  padding-top: 5px;
}
.twitter-share-button {
    margin-left: 4em;
}
.fb_iframe_widget span {
  margin-bottom: 4px ;
}

.titulo-barra-destaque{
    margin-top: 2em;
}
#conteudo .col-sm-9 h2{
    color: #53636B;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 30px;
}
.conteudo-comum{
    top: 1em;
    padding-left: 0;
    font-size: 1.7em;
} 
#conteudo .conteudo-comum-titulos{
    padding: 0;
    text-align: left;
}

.titulos-comum{
    font-size: 27px;
    color: #467F7B;
    border-bottom: 5px solid #84ACBA;
    padding-left: 0;
    min-width:50%;
    display: inline-flex;
}
.conteudo-comum img{
    margin: .5em auto;
    display: block;
    max-width: 100%;
    height: auto;   
}
.conteudo-comum p > img{
  padding: 0 1em;
} 
.media-body {
  vertical-align: bottom;
  color: #53636B;
}
#conteudo-noticia  .media-body-1 {
    border-bottom: 5px solid #9BB93B !important;   
    width: 35%;
}
.media-body h3{
    padding: 1em 1.5em 0 1em;
    line-height: 1.6;
    font-weight: 600;
}

.media .media-object{
    margin: 0;
}
.conteudo-comum p{
/*    font-size: 17px;*/
    font-weight: 400;
    color: #595959;
   /* text-indent: 2em;*/
    clear: left;
} 
.comum-titulo{
    margin-top: 2em;
} 
.conteudo-comum hr{
  border-bottom: 3px solid #53636B;
}
.conteudo-comum blockquote p{
    font-size: 1.38em;
    font-weight: 600;
}
.conteudo-comum blockquote {
    border-left: 0px solid #53636b;
    text-align: center;
}
    /*conteúdo comum*/
#destaque{
    margin: 2em 0 0 0;
    padding: 0;
}
.informes{
    padding-right:  0;
}
.informes ul li{
    border-bottom: 1px dotted #ddd;
    padding:10px 0px;
}
.informes h2:first-child{
    margin-top: 0;
}
.informes ul li h3{
    font-size: 1.717em;
    line-height: 140%;
    margin-top:.5em;
}
.nano {
  height:34em;
}
.nano-content{
    display-list: none;
    padding-left: 0;
}
.nano-content a{
    color:#595959;
    text-decoration: none;
}

#conteudo .data{
    color: #778D94;
    font-size: 12px;
    display: flex;
}
.mais{
    color: #666;
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    padding: 10px;
}
/* arquivos*/
.list-group{
  clear: left;
}
.list-group-item {
  margin:0;
}
.list-group-item a{
  display: inline-flex;
  width: 100%;
}
.list-group-item  p{
  margin: 0;
}
.titulo-arquivo{
  padding: 5px 0 0;
}
/* fim conteudo*/

/* visão padrão*/
#ordenador{
  clear: left;
  padding: 1em 0;
  list-style: none;
  font-size: 20px;
}
#ordenador li{
    padding: .25em 0;
}
/*visão sumaŕia*/
.feed-post-body {
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}
.feed-post .gui-image-full {
  background-color: #f3f3f3;
  background-position: 50% center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) inset;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.feed-post {
  border-bottom: 1px solid #c8c8c8;
  position: relative;
  margin: 0rem 0 2rem;
  padding: 2em 0;
  clear: left;
}

.feed-post-figure-link {
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 4px;
  display:block;
}
/*.feed-post-header-chapeu {
  color: #3a3a3a;
  display: inline-block;
  letter-spacing: 0;
  line-height: 1.3rem;
  margin: -3px 0;
  text-transform: uppercase;
  word-wrap: break-word;
  font-size: .8em;
  max-width: 57%;
}*/

.feed-post-time-label {
  color: #666;
  display: inline-block;
}
.conteudo-comum .feed-post-body-title {
  border-top: 0 none;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0.5em 0;
  padding-top: 0;
  word-wrap: break-word;
  clear: none;
  font-size: 2.3em;
  font-weight: bold;
}

.gui-color-primary {
  color: #2C5AA0;
}
/*.feed-post-body-resumo {
  font-size: 1em;
  letter-spacing: -0.3px;
  margin-bottom: 0.375rem;
  padding-top: 0;
  color: #777;
  line-height: 1.4em;
}*/

#conteudo .feed-post-body img{
    margin: 0;
}
/*visão agenda*/
.list-compromissos{

  margin-left: 0;
  border-bottom: 1px solid #d6dcd7;
}
.item-compromisso {
  overflow: hidden;
  margin-top: 10px;
  padding: 24px 0 14px;
  border-top: 1px solid #d6dcd7;
  list-style: none;
  display: flex;
}
.agenda-horarios span {
  display: block;
  padding: 0 10px;
/*  line-height: 14px !important;*/
}
.agenda-horarios {
  float: left;
}
.agenda-dados {
  padding-left: 2em;
  border-left: 1px dotted #d6dcd7;

}
/*visão evento*/

.agenda li{
  border-bottom: 2px solid #C8C8C8;
  padding: 15px 0px;
}
.agenda li ul li:first-child{
  padding-top: 0px;
}
.agenda li ul li:last-child{
  border-bottom: 0px;
  padding-bottom: 0px;
}
.agenda p{
  color: #5E7124;
}
.agenda p span{
  color: #333;
  font-size: 1em;
}
.agenda h4{
  font-size: 1.125em;
}
.data-agenda{
  background: #BEC570;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: #fff;
  line-height: 90%;
  font-size: 2.1em;
}
.data-agenda small{
  font-size: 0.750em;
  line-height: 90%;
}
.agenda .active{
  background: #405425 !important;
}
.nanoAgenda {
  height: 410px; 
}

/* início barra lateral comum*/
.barra-lateral{
    padding: 0;
    margin-top: 2em;
    font-family: roboto;
}
.barra-lateral ul{
    padding:0;
}
.barra-lateral a{
    color:#3F7169;  
}
.barra-lateral p > a{
    font-size:1.6em;
    padding: 0 .3em;
}
.barra-lateral h3{
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0px;
}
.barra-lateral li{
    list-style:none;
    border-bottom: 1px dotted #778D94;
    padding:1em 0 1em;
}
.barra-lateral span, .mais{
    color:#778D94;
}
.barra-lateral .pull-right{
  margin-right: -2.5em;
  display: inline-grid;
}
.titulo {
  font-size:2em;
  font-weight:700;
  color:#3F7169;
  border-bottom: 4px solid #54656B;
  text-transform: uppercase;
  margin-bottom: 0;
}
.portlet-sem-titulo a, .portlet-destaque a{
  background: #e8f2f4;
  border-radius: 0px !important;
  width: 100%;
  color: #4A4949;
  margin-bottom: .2em;
  font-size: 2em;
  padding: 0 10px 10px;
  border:none;
}
.portlet-sem-titulo a:hover{
  background:#ccd1d2;
}
.portlet-sem-titulo p {
  font-size:15px;
  font-weight:300;
  margin-bottom:0;
  color: #54656b;
}
.portlet-sem-titulo h2{
  font-size:17px;
  font-weight:700;
  color:#467f7c;
  padding:.5em;
  margin:0;
}
.portlet-destaque a {
  padding: 10px 0;
  text-align: center;
  background: #BaD9DD;
}
.portlet-destaque h2{
    font-size: 20px;
    margin-top: 10px;
}
.portlet-destaque a:hover{
    background:#A5C4C8;
}

/* fim barra lateral comum*/


/* inicio rodape*/
.topo-rodape{
    padding: 20px 0px;
    border-bottom: 1px solid #666;
    font-size: 1.5em;

}
.topo-rodape a{
    color: #ddd;
    text-decoration: none;
}
#logo-footer{
    width: 7.5%;
}
.rodape{
    background:#333 ;
    height: auto;
    margin-top:5em;
    font-size: 1.2em;
}
.rodape li{
    padding:.2em;
    list-style:none;
}
.rodape li a {
    color: #fff;
    font-weight:600;
}
.rodape .col-sm-3{
    margin-top:2em;
}
.rodape  h4{
    color:#fff;
}
.conteudo-rodape{
    margin: 20px 0px;
}
.conteudo-rodape a:hover{
    color: #cdcdcd;
    text-decoration: underline; 
}
.conteudo-rodape ul{
  padding: 0;
}

#copy{
    background: #2d2d2d;
    padding: 20px 0px;
    color: #fff;
}
#copy p{
    padding: 0px;
    margin: 2px;
}

/* fim rodape */




/**
CONTRASTE
**/

body.contraste{
    background: #000;
    color: #fff;
}
body.contraste a, .contraste .titulo, .contraste .data, .contraste #buscar{
    color: #fff !important; 
}

.contraste #topo{
    background:#000 url("../img/.png") no-repeat center center;
}
.contraste #topo h1, .contraste #topo p{
    color:#fff;
}
.contraste #menu .navbar{
    border-top: 1px solid #fff;
}
.contraste #menu .navbar, .contraste #rodape, .contraste #copy, .contraste .active{
    background: #000;
    color: #fff;
}
.contraste #acessibilidade a span,.contraste #faixa-topo .faixa1,.contraste #faixa-topo .col-md-1,.contraste #faixa-topo .col-md-10, .contraste #faixa{
    background: #fff !important;
    color: #000;
}
.contraste #buscar {
    color: #fff;
}
.contraste img {
    -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    filter: grayscale(100%);
}

.contraste #menu li.active a, .contraste #menu li a:hover, .contraste #menu li a:focus, .contraste .nav .open > a, .contraste .nav .open > a:focus,.contraste .nav .open > a:hover {
    background: #fff;
    color: #000 !important; 
}
.contraste #menu li a{
    color: #fff;
    background: #000!important;
}

.contraste #menu li ul li a {
    color: #000 !important;
    background:  #fff;
}
.contraste .bolinhas span{
    color: #fff;
}
.contraste .bolinhas span.cycle-pager-active{
    color: #333;
}
.contraste .data-agenda{
    background: #000;
}
.contraste .agenda .active{
    background: #fff !important;
    color: #000;
}
.contraste .agenda p {
    color: #fff;
}
.contraste .btn-search{
    color: #000 !important;
}








/* 
@media (max-width: 767px) { 
#topo{
    background: #00656D url('../img/topo3.jpg')no-repeat center center; 
}
#logo {
    margin: .5em auto;
    width:30%;
}
#redes-sociais a {
    margin: 0;
}
#topo-titulo h1{
    font-size: 3.5em;
}
#topo-titulo h2{
    font-size: 1.5em; 
    margin: -1em 0 -1em;
}
#topo-titulo {
    margin: 0 -2em -2em;
}
.comum-todos i {
    margin-left: -1.3em;
    margin-right: 0.2em;
}
.direita {
    right: 0;
}
#comum .titulo {
    font-size: 1.8em;
    padding: 1em 0.5em 0.5em;
}
.titulo i {
    margin-top: 0em;
}
.comum-todos ul{
    padding-left: 2.5em; 
}
#comum a {
    font-size: 1.45em;
}
#comum .mais {
    margin-top: 1em;
}
.endereco {
    padding: 0 1em;
}
.endereco p {
    font-size: 1.2em;
    letter-spacing: 1px;
}

}
@media (min-width: 480px) and (max-width: 767px) {
#logo {
    margin: .5em auto;
    width:20%;
}

}
@media (min-width: 768px) and (max-width: 991px) {
#acessibilidade .container{
    padding:0;
    width:100%;
}
#acessibilidade .col-sm-5{
    width:37%;
    padding: 0 0 0 .8em;
}
#acessibilidade .col-sm-7{
    width:60%;
    padding: 0 0 0 1em;
}
#acessibilidade .nav.nav-pills a {
    padding:1em .5em;
}
#logo{
    margin: 3.4em 0;
}
#topo-titulo h2 {
    font-size: 1.9em;
    margin: 2.5em 0 -1em 0.1em;
}
#topo-titulo h1 {
    font-size: 4.5em;
}
#topo-titulo {
 margin:0 0 -1em -3.5em;
}
#redes-sociais {
    font-size: 1em;
    margin-left: 0em;
    margin-top: 1em;
    width: 20%;
    left: 3.5em;
}
#comum .titulo {
    padding: 0 0.2em 0.3em 0.5em;
}

}
@media (min-width: 992px) and (max-width: 1199px) {
    #acessibilidade .container{
    padding:0;
    width:100%;
}
}
@media  (max-width: 1199px) {
#topo{
    background-size:100% 100%;
}
} 
#faixa{
    height: 4px;
    width: 100%;
    background:#184139;
}
#destaque, #noticias, #agenda, #rodape, #links, #banners{
    margin: 30px 0;
}
.text-private{
    color:red !important;
}
.text-para-publicacao{
    color:orange !important;
}
.callout {
    border-left: 5px solid #eee;
    border-radius: 3px;
    padding: 0px;
    margin-bottom: 2px;
}
.callout.callout-info {
    border-color: #0097bc;
}
*/