a{
color:#3379B7;
} 
.row {
  margin-right: 0;
  margin-left: 0;
}
.container{
    margin: 0 auto;
}
/* conteudo */
.conteudo-comum .linha-inicio{
    margin-top: .8em;
    padding: .9em;     /* ufopa padding : 0*/
    font-size: 14px;
    color:#467F7B;
    font-weight: bold;
    background: #E7F1F3;     /*ufopa #fff*/
}
.conteudo-comum .linha-inicio ol{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.conteudo-comum .linha-inicio a{
    color:#467F7B;
    text-decoration: none;
    font-weight: 400;
}
.conteudo-noticia .data-noticia{
    color: #8C8C8C;
    font-size: 1.1em;
    font-weight: normal;
    margin: 2em 0;
}
#conteudo-noticia .conteudo-noticia{
    margin: 2em 0; 
    color: #53636B;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
}
.conteudo-noticia .descricao{
  font-size: 1em;
  margin-bottom: 2em;
}
.tag_ufopa {
    background: #00656D;
}
.tag_ensino-e-educacao{
    background: #00656D;
}
.tag {
    z-index: 100;
    float: left;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    padding: .5em;
}
.tag a{
  color: #fff; 
}
.conteudo-comum .redessociais{
  padding-top: 5px;
}
.twitter-share-button {
    margin-left: 4em;
}
.fb_iframe_widget span {
  margin-bottom: 4px ;
}

.titulo-barra-destaque{
    margin-top: 2em;
}
#conteudo .col-sm-9 h2{
    color: #53636B;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 30px;
}
.conteudo-comum{
    top: 1em;
    padding-left: 0;
    font-size: 1.7em;
} 
#conteudo .conteudo-comum-titulos{
    padding: 0;
    text-align: left;
}

.titulos-comum{
    font-size: 27px;
    color: #467F7B;
    border-bottom: 5px solid #84ACBA;
    padding-left: 0;
    min-width:50%;
    display: inline-flex;
}
.conteudo-comum img{
    margin: .5em auto;
    display: block;
    max-width: 100%;
    /*height: auto; */  
}
.conteudo-comum p > img{
  padding: 0 1em;
} 
.media-body {
  vertical-align: bottom;
  color: #53636B;
}
#conteudo-noticia  .media-body-1 {
    border-bottom: 5px solid #9BB93B !important;   
    width: 35%;
}
.media-body h3{
    padding: 1em 1.5em 0 1em;
    line-height: 1.6;
    font-weight: 600;
}

.media .media-object{
    margin: 0;
}
.conteudo-comum p{
/*    font-size: 17px;*/
    font-weight: 400;
    color: #595959;
   /* text-indent: 2em;*/
    clear: left;
} 
.comum-titulo{
    margin-top: 2em;
} 
.conteudo-comum hr{
  border-bottom: 3px solid #53636B;
}
.conteudo-comum blockquote p{
    font-size: 1.38em;
    font-weight: 600;
}
.conteudo-comum blockquote {
    border-left: 0px solid #53636b;
    text-align: center;
}
    /*conteúdo comum*/
#destaque{
    margin: 2em 0 0 0;
    padding: 0;
}
.carousel-caption{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.85)), center top url("../img/transparente-3.png");
  bottom: 0;
  right: 0;
  left: 0%;
  height: 31em;
  text-align: left;
  padding: 0 1em 0 3em;
}
.carousel-caption h3 {
  font-size: 3em;
  margin-top: 5em;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 2px 1px #000;
}
.carousel-caption p {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 2px 1px #000;
}
.carousel-indicators {
  bottom: -45px;
}
.carousel-indicators li {
  background-color: rgba(155,185,59, 0.8);
  border: 1px solid #9BB93B;
  border-radius: 10px;
}
.informes ul li{
    border-bottom: 1px dotted #ddd;
    padding:10px 0px;
}
.informes h2:first-child{
    margin-top: 0;
}
.informes ul li h3{
    font-size: 1.717em;
    line-height: 140%;
    margin-top:.5em;
}
.nano {
  height:40em;
}
.nano-content{
    display-list: none;
    padding-left: 0;
}
.nano-content a{
    color:#595959;
    text-decoration: none;
}
#conteudo .data{
    color: #778D94;
    font-size: 12px;
    display: flex;
}
.mais{
    color: #666;
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    padding: 10px;
}
/* arquivos*/
.list-group{
  clear: left;
}
.list-group-item {
  margin:0;
}
.list-group-item a{
  display: inline-flex;
  width: 100%;
}
.list-group-item  p{
  margin: 0;
}
.titulo-arquivo{
  padding: 5px 0 0;
}
/* fim conteudo*/

/* visão padrão*/
#ordenador{
  clear: left;
  padding: 1em 0;
  list-style: none;
  font-size: 20px;
}
#ordenador li{
    padding: .25em 0;
}
/*visão sumaŕia*/
.feed-post-body {
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}
.feed-post .gui-image-full {
  background-color: #f3f3f3;
  background-position: 50% center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) inset;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.feed-post {
  border-bottom: 1px solid #c8c8c8;
  position: relative;
  margin: 0rem 0 2rem;
  padding: 2em 0;
  clear: left;
}
.feed-post-figure-link {
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 4px;
  display:block;
}
.feed-post-time-label {
  color: #666;
  display: inline-block;
}
.conteudo-comum .feed-post-body-title {
  border-top: 0 none;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0.5em 0;
  padding-top: 0;
  word-wrap: break-word;
  clear: none;
  font-size: 1.45em;
  font-weight: bold;
}
.gui-color-primary {
  color: #2C5AA0;
}
#conteudo .feed-post-body img{
    margin: 0;
}
/*visão agenda*/
.list-compromissos{
  margin-left: 0;
  border-bottom: 1px solid #d6dcd7;
}
.item-compromisso {
  overflow: hidden;
  margin-top: 10px;
  padding: 24px 0 14px;
  border-top: 1px solid #d6dcd7;
  list-style: none;
  display: flex;
}
.agenda-horarios span {
  display: block;
  padding: 0 10px;
/*  line-height: 14px !important;*/
}
.agenda-horarios {
  float: left;
}
.agenda-dados {
  padding-left: 2em;
  border-left: 1px dotted #d6dcd7;0
}
/*visão evento*/
.agenda li, #agenda li{
  border-bottom: 2px solid #C8C8C8;
  padding: 15px 0px;
}
.agenda li ul li:first-child{
  padding-top: 0px;
}
.agenda li ul li:last-child{
  border-bottom: 0px;
  padding-bottom: 0px;
}
.agenda p{
  color: #5E7124;
}
.agenda p span{
  color: #333;
  font-size: 1em;
}
.agenda h4{
  font-size: 1.125em;
}
.data-agenda{
  background: #BEC570;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: #fff;
  line-height: 90%;
  font-size: 2.1em;
}
.data-agenda small{
  font-size: 0.750em;
  line-height: 90%;
}
.agenda .active{
  background: #405425 !important;
}
.agenda .media-body,  #agenda .media-body {
  vertical-align: top;
}
.agenda .feed-post-body-title{
  margin-top: 0;
  font-weight: 400;
}

/*
 index-padrao
*/
 #carousel-example-generic, .noticias-destaque-padrao, .listas-links{
  margin-right: 30px;
 }
 .lateral-padrao{
  padding: 0;
 }
 .destaque-padrao{
  padding: 0;
 }
 .destaque-padrao, .noticias-destaque-padrao, .listas-links {
  margin-top: 30px;
 }
.titulo-padrao{
  margin-bottom: 10px;
  margin-top: 22px;
}
.titulo-padrao .titulo{
    width: auto;
    padding: 0;
}
.titulo-padrao .mais{
  margin-top: -30px;
}
.noticias-padrao{
  margin-right: -15px;
}
.noticia-padrao{
    min-height: 260px;
    padding: 0 15px 0 0;
    margin-bottom: 10px;
}
.noticias-padrao a h3{
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.listas-links 
.saude {
  background: #53656B;
  width: 49%;
  margin-right: 15px;
  min-height: 380px;
}
.desempenho {
  background: #758387;
  width: 49%;
  min-height: 380px;
}
.saude h3, .desempenho h3{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.saude ul, .desempenho ul {
  list-style-image: url("../img/bullet.png");
}
.saude ul li, .desempenho ul li {
  padding: 1em;
}
.saude a, .desempenho a {
  color: #fff;
  font-size: 1.8em;
}
.btn-links{
  margin-top:30px;
  padding-left: 0px;
}
.btn-links li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
} 
.padrao_sem_titulo,.padrao_com_titulo, .padrao_com_titulo_2, .padrao_com_titulo_3{
  margin-top: 30px;
}
.coor_DGDP, .coor_DSQV {
  background: #e8f2f4;
}
.coor_DSQV h2, .coor_DGDP h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #467f7c;
  padding:1em;
  margin: 0;

}
.coor_DSQV h2{
  margin-top: 5px; 
}
.coor_DGDP p, .coor_DSQV  p {
  padding: 0 1em 1.1em;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0;
  color: #54656b;
}
.padrao_com_titulo a:hover, .padrao_com_titulo_2 a:hover , .padrao_com_titulo_3 a:hover {
  background: #A5C4C8;
}
.padrao_com_titulo a, .padrao_com_titulo_2 a, .padrao_com_titulo_3 a {
  background: #BaD9DD;
  border-radius: 0px !important;
  width: 100%;
  color: #4A4949;
  margin-bottom: .2em;
  font-size: 2em;
  padding: 13px 0;
  border: none;
  text-align: center;
}
.padrao_com_titulo_3 a{
  padding: 2em 0;
}
.coor_ h2 {
  font-size: 20px;
  margin-top: 10px;
}
 /*
 fim index-padrao
 */
/* 
início barra lateral comum*/


.barra-lateral{
    padding: 0;
    margin-top: 2em;
    font-family: roboto;
}
.barra-lateral ul{
    padding:0;
}
.barra-lateral a{
    color:#3F7169;  
}
.barra-lateral p > a{
    font-size:1.6em;
    padding: 0 .3em;
}
.barra-lateral h3{
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0px;
}
.barra-lateral li{
    list-style:none;
    border-bottom: 1px dotted #778D94;
    padding:1em 0 1em;
}
.barra-lateral span, .mais{
    color:#778D94;
}
.barra-lateral .pull-right{
  margin-right: -2.5em;
  display: inline-grid;
}
.titulo {
  font-size:2em;
  font-weight:700;
  color:#3F7169;
  border-bottom: 4px solid #54656B;
  text-transform: uppercase;
  margin-bottom: 0;
}
.portlet-sem-titulo a, .portlet-destaque a{
  background: #e8f2f4;
  border-radius: 0px !important;
  width: 100%;
  color: #4A4949;
  margin-bottom: .2em;
  font-size: 2em;
  padding: 0 10px 10px;
  border:none;
}
.portlet-sem-titulo a:hover{
  background:#ccd1d2;
}
.portlet-sem-titulo p {
  font-size:15px;
  font-weight:300;
  margin-bottom:0;
  color: #54656b;
}
.portlet-sem-titulo h2{
  font-size:17px;
  font-weight:700;
  color:#467f7c;
  padding:.5em;
  margin:0;
}
.portlet-destaque a {
  padding: 10px 0;
  text-align: center;
  background: #BaD9DD;
}
.portlet-destaque h2{
    font-size: 20px;
    margin-top: 10px;
}
.portlet-destaque a:hover{
    background:#A5C4C8;
}
.portlet ul{
  list-style: none;
  font-size: 21px;
  margin-top: 20px;
}
.affix{
  top: -130px; 
}
.affix-top {
  position: relative;
}
.affix{
  width: 285px;
} 
.affix-bottom {
    width: 100%;
    position: absolute;
}
/* fim barra lateral comum*/
