html,body{
    height: 100%;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-size:100%;
}
a{
color:#3379B7;
} 
.row {
  margin-right: 0;
  margin-left: 0;
}
.container{
    margin: 0 auto;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 300;
  src: url(../fonts/OpenSans-Light.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/OpenSans-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: url(../fonts/OpenSans-Semibold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(../fonts/OpenSans-Bold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}

/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 800;
  src: url(../fonts/OpenSans-ExtraBold.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/* latin Roboto */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/Roboto-Regular.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 400;
  src: url(../fonts/Roboto-Italic.ttf);
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215;
}
/*inicio B Brasil*/
#barra-brasil {
    background: #53656B url("../img/bbrasil.png") no-repeat scroll center bottom;
    min-width: 300px;
    overflow: hidden;
    position: relative;
}

#barra-brasil .barra {
    background: rgba(0, 0, 0, 0) url("../img/bbrasil.gif") repeat-x scroll 0 bottom;
    display: block;
    height: 28px;
    margin: 0 auto;
    max-width: 1050px;
}
#barra-brasil .barra ul {
    float: right;
    margin: 0;
    padding: 0;
    width: 319px;
}
#barra-brasil .barra ul li {
    float: left;
    list-style-type: none;
    padding-left: 25px;
}
#barra-brasil .imformacao {
    background: #53656B url("../img/ai.png") no-repeat scroll 0 4px;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 161px;

}
#barra-brasil .brasil {
    background: #53656B url("../img/brasil.png") no-repeat scroll 0 4px;
    display: block;
    height: 28px;
    text-indent: -1000px;
    width: 108px;
}
/*fim B Brasil*/
/* Acessibilidade */
#acessibilidade{
    font-family: 'Roboto';
    background: #eee;
    font-size: 11px;
}
#acessibilidade a{
    color:#53656B;
}
/*fim acessibilidade*/
/*Inicio topo*/
#topo{
    margin: 0;    
    background: #53656B /* url('../img/FundoPROCCE2.svg')no-repeat center center */;          
}
#logo {
    margin: 1em auto; 
    width: 65%; 
}
#topo-titulo{
    padding: 0;
    margin: 3em 0 0;
}
#topo-titulo h1, #topo-titulo h3,#topo-titulo h5{
    color: #fff;
    font-family:  "Open Sans", sans-serif;
    text-transform: uppercase; 
    font-weight: 400; 
}
#topo-titulo h1{
    font-weight: 900;
    font-size: 4.8em;
    margin: -10px 0 0 -3px;
    float:left;
}
#topo-titulo h3{
    font-size: 1.4em; 
    margin: 0;
}
#topo-titulo h5{
    font-size: 2.1em;
    float:left;
    margin: 0;
    padding: 13px 0 0 15px; 
}

#topo-titulo a{
    color: #fff;
    text-decoration: none;
    float:right;
    margin: -3em 0 0 0;
}
/* barra topo site ufopa*/
#faixa-topo .col-md-10{
    height:4px;
    background:#9BBA3C;
}
#faixa-topo{
    padding:0;
}
#faixa-topo .col-md-1{
    background:#74803E;
    height:4px;
}
#faixa-topo .faixa1{
    height:4px;
    background:#BEC370;
}
/*fim barra topo site ufopa*/
.titulo-ufopa2{
    color:#CFDDA9;
    text-align:right;
    font-family: 'Roboto', sans-serif;
    font-size:1.592em;  
}
/*fim topo*/
#menu-barra-temp{
    list-style:none;
}
#linha-barra-1{
    display:inline; 
    float:left;
    padding-right:10px; 
    margin-right:10px; 
    border-right:1px solid #EDEDED
}
#link-barra-1{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
#link-barra-2{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
.btn-search{
    margin-top: 10px;
    color: #fff;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    font-size: 18px;
    float: right;
    margin-bottom: 10px;
}
.btn-search:hover {
    color:#fff;
}
.courses-searching{
    background: rgba(0, 0, 0, 0.8) none repeat scroll 0 0;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 99999;
    left: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transform: scale(0.2, 0.2);
    transition: all 0.3s cubic-bezier(0.4, 0, 1, 1) 0s;
}
.search-active .courses-searching{
    transform: scale(1,1);
    opacity: 1;
    visibility: visible;
}
.courses-searching form{
    bottom: 0;
    height: 50px;
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    opacity: 1;
    filter: alpha(opacity=100);
    z-index: 999999999;
}
.search-popup-bg{
    cursor: url("../img/close.png"), progress;
    height: 100%;
    position: absolute;
    width: 100%;
}

.courses-searching form input[type='text']{
    background: #fff none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #999;
    float: left;
    font-size: 15px;
    height: 50px;
    line-height: 40px;
    margin: 0;
    padding-left: 20px;
    width: calc(100% - 50px);
}   
.courses-searching form button{
    background: #9AB93B none repeat scroll 0 0;
    border: medium none;
    border-radius: 0;
    color: #fff;
    float: left;
    padding: .87em;
    transition: all 0.2s ease-in-out 0s;
    font-size: 1.6em;
}
#search-wrapper .form-group span{
    color: #fff;
    font-size: 12px;
} 

/*inicio menu*/
#menu{

    background: #758287;
}
#menu li > a  {
    text-transform: uppercase;
}
.navegacao{
    padding-right: 0;
}
.navbar{
    border: none;
    margin-bottom: 0;
}
.navbar-toggle{
    background: #ccc;
}
.navbar-toggle .icon-bar {
    background: #000;
}
#menu li a{
    font-family: 'Roboto';
    font-size: 1.6em;
    color: #fff;
    background: #758287;
    padding: 15px 4em;    
}
#menu li.active a, #menu li a:hover, #menu li a:focus, .nav .open > a, .nav .open > a:focus, .nav .open > a:hover {
    color: #fff;
    background:  #646f73;
}
.caret {
    margin-left: 0px;
}
.caret2{
    font-size: 10px !important;
}
.dropdown-menu a{
    padding: 7.5px 1em !important;
    font-weight: 400 !important;
}
.dropdown-menu {
    font-size:  .935em;
    font-weight:400;
}
.dropdown-menu > li > a {
  text-transform: none !important;
}
.dropdown-submenu {
    position: relative;
}
.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}
.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}
.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}
.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}
.dropdown-submenu.pull-left {
    float: none;
}
.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
.navbar-header{
    margin-top: -1px;
}
#menu ul{
    padding: 0;
}
/* menu admin*/
#menu-admin{
    font-family: 'Roboto';
    font-size: 1.5em;
}
/* fim menu admin*/

/* conteudo */
.conteudo-comum .linha-inicio{
    margin-top: .8em;
    padding: .9em;     /* ufopa padding : 0*/
    font-size: 14px;
    color:#467F7B;
    font-weight: bold;
    background: #E7F1F3;     /*ufopa #fff*/
}
.conteudo-comum .linha-inicio ol{
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}
.conteudo-comum .linha-inicio a{
    color:#467F7B;
    text-decoration: none;
    font-weight: 400;
}
.conteudo-noticia .data-noticia{
    color: #8C8C8C;
    font-size: 1.1em;
    font-weight: normal;
    margin: 2em 0;
}
#conteudo-noticia .conteudo-noticia{
    margin: 2em 0; 
    color: #53636B;
    font-weight: 400;
    line-height: 1.7;
    text-align: left;
}
.conteudo-noticia .descricao{
  font-size: 1em;
  margin-bottom: 2em;
}
.tag_ufopa {
    background: #00656D;
}
.tag_ensino-e-educacao{
    background: #00656D;
}
.tag {
    z-index: 100;
    float: left;
    position: relative;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 11px;
    padding: .5em;
}
.tag a{
  color: #fff; 
}
.conteudo-comum .redessociais{
  padding-top: 5px;
}
.twitter-share-button {
    margin-left: 4em;
}
.fb_iframe_widget span {
  margin-bottom: 4px ;
}

.titulo-barra-destaque{
    margin-top: 2em;
}
#conteudo .col-sm-9 h2{
    color: #53636B;
    font-size: 2.8em;
    font-weight: 400;
    margin-bottom: 30px;
}
.conteudo-comum{
    top: 1em;
    padding-left: 0;
    font-size: 1.7em;
} 
#conteudo .conteudo-comum-titulos{
    padding: 0;
    text-align: left;
}

.titulos-comum{
    font-size: 27px;
    color: #467F7B;
    border-bottom: 5px solid #84ACBA;
    padding-left: 0;
    min-width:50%;
    display: inline-flex;
}
.conteudo-comum img{
    margin: .5em auto;
    display: block;
    max-width: 100%;
    /*height: auto; */  
}
.conteudo-comum p > img{
  padding: 0 1em;
} 
.media-body {
  vertical-align: bottom;
  color: #53636B;
}
#conteudo-noticia  .media-body-1 {
    border-bottom: 5px solid #9BB93B !important;   
    width: 35%;
}
.media-body h3{
    padding: 1em 1.5em 0 1em;
    line-height: 1.6;
    font-weight: 600;
}

.media .media-object{
    margin: 0;
}
.conteudo-comum p{
/*    font-size: 17px;*/
    font-weight: 400;
    color: #595959;
   /* text-indent: 2em;*/
    clear: left;
} 
.comum-titulo{
    margin-top: 2em;
} 
.conteudo-comum hr{
  border-bottom: 3px solid #53636B;
}
.conteudo-comum blockquote p{
    font-size: 1.38em;
    font-weight: 600;
}
.conteudo-comum blockquote {
    border-left: 0px solid #53636b;
    text-align: center;
}
    /*conteúdo comum*/
#destaque{
    margin: 2em 0 0 0;
    padding: 0;
}
.carousel-caption{
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.85)), center top url("../img/transparente-3.png");
  bottom: 0;
  right: 0;
  left: 0%;
  height: 31em;
  text-align: left;
  padding: 0 1em 0 3em;
}
.carousel-caption h3 {
  font-size: 3em;
  margin-top: 5em;
  color: #fff;
  font-weight: bold;
  text-shadow: 1px 2px 1px #000;
}
.carousel-caption p {
  color: #fff;
  font-size: 2.5em;
  font-weight: 300;
  text-shadow: 1px 2px 1px #000;
}
.carousel-indicators {
  bottom: -45px;
}
.carousel-indicators li {
  background-color: rgba(155,185,59, 0.8);
  border: 1px solid #9BB93B;
  border-radius: 10px;
}
.informes ul li{
    border-bottom: 1px dotted #ddd;
    padding:10px 0px;
}
.informes h2:first-child{
    margin-top: 0;
}
.informes ul li h3{
    font-size: 1.717em;
    line-height: 140%;
    margin-top:.5em;
}
.nano {
  height:40em;
}
.nano-content{
    display-list: none;
    padding-left: 0;
}
.nano-content a{
    color:#595959;
    text-decoration: none;
}
#conteudo .data{
    color: #778D94;
    font-size: 12px;
    display: flex;
}
.mais{
    color: #666;
    font-size: 12px;
    text-decoration: underline;
    display: inline-block;
    padding: 10px;
}
/* arquivos*/
.list-group{
  clear: left;
}
.list-group-item {
  margin:0;
}
.list-group-item a{
  display: inline-flex;
  width: 100%;
}
.list-group-item  p{
  margin: 0;
}
.titulo-arquivo{
  padding: 5px 0 0;
}
/* fim conteudo*/

/* visão padrão*/
#ordenador{
  clear: left;
  padding: 1em 0;
  list-style: none;
  font-size: 20px;
}
#ordenador li{
    padding: .25em 0;
}
/*visão sumaŕia*/
.feed-post-body {
  overflow: hidden;
  padding-top: 0;
  width: 100%;
}
.feed-post .gui-image-full {
  background-color: #f3f3f3;
  background-position: 50% center;
  background-size: cover;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1) inset;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  width: 100%;
}
.feed-post {
  border-bottom: 1px solid #c8c8c8;
  position: relative;
  margin: 0rem 0 2rem;
  padding: 2em 0;
  clear: left;
}
.feed-post-figure-link {
  float: left;
  margin: 0 1rem 0 0;
  border-radius: 4px;
  display:block;
}
.feed-post-time-label {
  color: #666;
  display: inline-block;
}
.conteudo-comum .feed-post-body-title {
  border-top: 0 none;
  letter-spacing: -1px;
  line-height: 1.2;
  margin: 0.5em 0;
  padding-top: 0;
  word-wrap: break-word;
  clear: none;
  font-size: 1.45em;
  font-weight: bold;
}
.gui-color-primary {
  color: #2C5AA0;
}
#conteudo .feed-post-body img{
    margin: 0;
}
/*visão agenda*/
.list-compromissos{
  margin-left: 0;
  border-bottom: 1px solid #d6dcd7;
}
.item-compromisso {
  overflow: hidden;
  margin-top: 10px;
  padding: 24px 0 14px;
  border-top: 1px solid #d6dcd7;
  list-style: none;
  display: flex;
}
.agenda-horarios span {
  display: block;
  padding: 0 10px;
/*  line-height: 14px !important;*/
}
.agenda-horarios {
  float: left;
}
.agenda-dados {
  padding-left: 2em;
  border-left: 1px dotted #d6dcd7;0
}
/*visão evento*/
.agenda li, #agenda li{
  border-bottom: 2px solid #C8C8C8;
  padding: 15px 0px;
}
.agenda li ul li:first-child{
  padding-top: 0px;
}
.agenda li ul li:last-child{
  border-bottom: 0px;
  padding-bottom: 0px;
}
.agenda p{
  color: #5E7124;
}
.agenda p span{
  color: #333;
  font-size: 1em;
}
.agenda h4{
  font-size: 1.125em;
}
.data-agenda{
  background: #BEC570;
  display: inline-block;
  padding: 15px;
  text-align: center;
  color: #fff;
  line-height: 90%;
  font-size: 2.1em;
}
.data-agenda small{
  font-size: 0.750em;
  line-height: 90%;
}
.agenda .active{
  background: #405425 !important;
}
.agenda .media-body,  #agenda .media-body {
  vertical-align: top;
}
.agenda .feed-post-body-title{
  margin-top: 0;
  font-weight: 400;
}
/* index Ufopa
*/
.titulo-barra .titulo, .informes .titulo{
  width: max-content;
  width: -moz-max-content;
  margin-bottom: -3px;
  padding-bottom: 9px;
}
.titulo-barra {
  border-bottom: 3px solid #e1e1e1;
  margin-bottom: .5em;
}.destaque{
  padding-left: 0;
}
.destaque-noticias{
  padding: 0;
}
.destaque-nivel-1{
  margin-top: 2em;
}
.banner-fixo-admin{
  margin:3em 0;
}
.titulo-barra-noticias{
  margin-right: 15px;
}
.titulo-barra-noticias .mais{
  padding: 0;
  margin-top: -15px;
}
.noticia-com-img{
  padding-left: 0;
}
.noticia-com-img .tag{
  position: absolute;
}
.noticia-com-img .data {
    margin-top: 20px;
    display: inline-block;
}
.noticia-com-img  h2 {
  font-size: 1.82em;
  margin-top: 0;
  line-height: 120%;
  padding-left: 0;
}
.noticia-com-img  .bordas {
  margin-bottom: 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 342px;
}
.noticia-com-img .bordas-men {
  margin-bottom: 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 120px;
  margin-left: 0;
  margin-right: 0;
}
.bordas-men .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.noticia-img-men  .tag-men {
  z-index: 100;
  float: left;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  padding: .2em;
  position: relative;
}

.noticia-img-men  .bordas-men {
  margin:0 0 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 120px;
}
.noticia-img-men p {
  line-height: 1.15;
  margin-top: 10px;
  font-size: 14px;
}
#agenda .nanoAgenda {
  height: 410px;
  font-size: 1.7em; 
}
#agenda .data-agenda {
 font-size: 1.3em;
}
#agenda .feed-post-body-title{
  border-top: 0 none;
  letter-spacing: -1px;
  line-height: 1.2;
  padding: 0;
  word-wrap: break-word;
  margin-top: -3px;
}
#agenda .agenda-local{
  font-size: 14px;
  margin: 0;
}
.btn-utilitarios {
  padding: 1px 0;
}
#redes-sociais{
  margin-top: 30px;
}

/* Fim index Ufopa
*/
/*
 index-padrao
 */
 #carousel-example-generic, .noticias-destaque-padrao, .listas-links{
  margin-right: 30px;
 }
 .lateral-padrao{
  padding: 0;
 }
 .destaque-padrao{
  padding: 0;
 }
 .destaque-padrao, .noticias-destaque-padrao, .listas-links {
  margin-top: 30px;
 }
.titulo-padrao{
  margin-bottom: 10px;
  margin-top: 22px;
}
.titulo-padrao .titulo{
    width: auto;
    padding: 0;
}
.titulo-padrao .mais{
  margin-top: -30px;
}
.noticias-padrao{
  margin-right: -15px;
}
.noticia-padrao{
    min-height: 260px;
    padding: 0 15px 0 0;
    margin-bottom: 10px;
}
.noticias-padrao a h3{
  color: #474747;
  font-size: 20px;
  font-weight: 400;
}
.listas-links 
.saude {
  background: #53656B;
  width: 49%;
  margin-right: 15px;
  min-height: 380px;
}
.desempenho {
  background: #758387;
  width: 49%;
  min-height: 380px;
}
.saude h3, .desempenho h3{
  font-size: 20px;
  color: #fff;
  font-weight: bold;
}
.saude ul, .desempenho ul {
  list-style-image: url("../img/bullet.png");
}
.saude ul li, .desempenho ul li {
  padding: 1em;
}
.saude a, .desempenho a {
  color: #fff;
  font-size: 1.8em;
}
.btn-links{
  margin-top:30px;
  padding-left: 0px;
}
.btn-links li {
  display: inline-block;
  margin-right: 10px;
  margin-bottom: 10px;
}
/**/
.padrao_sem_titulo,.padrao_com_titulo, .padrao_com_titulo_2, .padrao_com_titulo_3{
  margin-top: 30px;
}
.coor_DGDP, .coor_DSQV {
  background: #e8f2f4;
}
.coor_DSQV h2, .coor_DGDP h2 {
  font-size: 1.7em;
  font-weight: 700;
  color: #467f7c;
  padding:1em;
  margin: 0;

}
.coor_DSQV h2{
  margin-top: 5px; 
}
.coor_DGDP p, .coor_DSQV  p {
  padding: 0 1em 1.1em;
  font-size: 1.5em;
  font-weight: 300;
  margin-bottom: 0;
  color: #54656b;
}
.padrao_com_titulo a:hover, .padrao_com_titulo_2 a:hover , .padrao_com_titulo_3 a:hover {
  background: #A5C4C8;
}
.padrao_com_titulo a, .padrao_com_titulo_2 a, .padrao_com_titulo_3 a {
  background: #BaD9DD;
  border-radius: 0px !important;
  width: 100%;
  color: #4A4949;
  margin-bottom: .2em;
  font-size: 2em;
  padding: 13px 0;
  border: none;
  text-align: center;
}
.padrao_com_titulo_3 a{
  padding: 2em 0;
}
.coor_ h2 {
  font-size: 20px;
  margin-top: 10px;
}

 /*
 fim index-padrao
 */
/* 
início barra lateral comum*/

/* lateral index Ufopa
*/
.links-uteis a {
  display: block;
  margin-bottom: 1px;
}
.links-uteis .hoverzoom2:hover > a > img {
  -webkit-transform: scale(1.005);
  -moz-transform: scale(1.005);
  -ms-transform: scale(1.005);
  -o-transform: scale(1.005);
  transform: scale(1.005);
}
.links-uteis .hoverzoom2 > a > img {
  max-width: none;
}
.institutos .hoverzoom2:hover > a > img {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
  transform: scale(1.025);
}
.hoverzoom2 {
  position: relative;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 0;
}
.hoverzoom2 a{
  background:#879397;
  border-bottom: 4px solid #54656b;
}
.icone-1 a:hover{
  background:#c27b1c;
  border-bottom:4px solid #c27b1c;
}
.icone-2 a:hover{
  background:#658f67;
  border-bottom:4px solid #658f67;
}.icone-3 a:hover{
  background:#56918e;
  border-bottom:4px solid #56918e;
}.icone-4 a:hover{
  background:#b28c22;
  border-bottom:4px solid #b28c22;
}.icone-5 a:hover{
  background:#a43100;
  border-bottom:4px solid #a43100;
}.icone-6 a:hover{
  background:#3f7269;
  border-bottom:4px solid #3f7269;
}.icone-7 a:hover{
  background:#e6bb5c;
  border-bottom:4px solid #e6bb5c;
}.icone-8 a:hover{
  background:#bec470;
  border-bottom:4px solid #bec470;
}.icone-9 a:hover{
  background:#808c6e;
  border-bottom:4px solid #808c6e;
}.icone-10 a:hover{
  background:#00656e;
  border-bottom:4px solid #00656e;
}.icone-11 a:hover{
  background:#5cb8c5;
  border-bottom:4px solid #5cb8c5;
}.icone-12 a:hover{
  background:#ba7043;
  border-bottom:4px solid #ba7043;
}.icone-13 a:hover{
  background:#747f3f;
  border-bottom:4px solid #747f3f;
}
.institutos {
  margin-top: 2.5em;
}
/* Fim lateral index Ufopa
*/

.barra-lateral{
    padding: 0;
    margin-top: 2em;
    font-family: roboto;
}
.barra-lateral ul{
    padding:0;
}
.barra-lateral a{
    color:#3F7169;  
}
.barra-lateral p > a{
    font-size:1.6em;
    padding: 0 .3em;
}
.barra-lateral h3{
  font-size: 1.75em;
  font-weight: 500;
  margin-top: 0px;
}
.barra-lateral li{
    list-style:none;
    border-bottom: 1px dotted #778D94;
    padding:1em 0 1em;
}
.barra-lateral span, .mais{
    color:#778D94;
}
.barra-lateral .pull-right{
  margin-right: -2.5em;
  display: inline-grid;
}
.titulo {
  font-size:2em;
  font-weight:700;
  color:#3F7169;
  border-bottom: 4px solid #54656B;
  text-transform: uppercase;
  margin-bottom: 0;
}
.portlet-sem-titulo a, .portlet-destaque a{
  background: #e8f2f4;
  border-radius: 0px !important;
  width: 100%;
  color: #4A4949;
  margin-bottom: .2em;
  font-size: 2em;
  padding: 0 10px 10px;
  border:none;
}
.portlet-sem-titulo a:hover{
  background:#ccd1d2;
}
.portlet-sem-titulo p {
  font-size:15px;
  font-weight:300;
  margin-bottom:0;
  color: #54656b;
}
.portlet-sem-titulo h2{
  font-size:17px;
  font-weight:700;
  color:#467f7c;
  padding:.5em;
  margin:0;
}
.portlet-destaque a {
  padding: 10px 0;
  text-align: center;
  background: #BaD9DD;
}
.portlet-destaque h2{
    font-size: 20px;
    margin-top: 10px;
}
.portlet-destaque a:hover{
    background:#A5C4C8;
}
.portlet ul{
  list-style: none;
  font-size: 21px;
  margin-top: 20px;
}
.affix{
  top: -260px; 
}
.affix-top {
  position: relative;
}
.affix{
  width: 285px;
} 
.affix-bottom {
    width: 100%;
    position: absolute;
}



/* fim barra lateral comum*/

/* inicio rodape*/
.topo-rodape{
    padding: 20px 0px;
    border-bottom: 1px solid #666;
    font-size: 1.5em;
}
.topo-rodape a{
    color: #ddd;
    text-decoration: none;
}
#logo-footer{
    width: 7.5%;
}
.rodape{
    background:#333 ;
    height: auto;
    margin-top:5em;
    font-size: 1.2em;
}
.rodape li{
    padding:.2em;
    list-style:none;
}
.rodape li a {
    color: #fff;
    font-weight:600;
}
.rodape .col-sm-3{
    margin-top:2em;
}
.rodape  h4{
    color:#fff;
}
.conteudo-rodape{
    margin: 20px 0px;
}
.conteudo-rodape a:hover{
    color: #cdcdcd;
    text-decoration: underline; 
}
.conteudo-rodape ul{
  padding: 0;
}
#copy{
    background: #2d2d2d;
    padding: 20px 0px;
    color: #fff;
}
#copy p{
    padding: 0px;
    margin: 2px;
}
/* fim rodape */
/**
CONTRASTE
**/
body.contraste{
    background: #000;
    color: #fff;
}
body.contraste a, .contraste .titulo, .contraste .data, .contraste #buscar{
    color: #fff !important; 
}
.contraste #topo{
    background:#000 url("../img/.png") no-repeat center center;
}
.contraste #topo h1, .contraste #topo p{
    color:#fff;
}
.contraste #menu .navbar{
    border-top: 1px solid #fff;
}
.contraste #menu .navbar, .contraste #rodape, .contraste #copy, .contraste .active{
    background: #000;
    color: #fff;
}
.contraste #acessibilidade a span,.contraste #faixa-topo .faixa1,.contraste #faixa-topo .col-md-1,.contraste #faixa-topo .col-md-10, .contraste #faixa{
    background: #fff !important;
    color: #000;
}
.contraste #buscar {
    color: #fff;
}
.contraste img {
    -webkit-filter: grayscale(100%);
        -moz-filter: grayscale(100%);
        -ms-filter: grayscale(100%);
        -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contraste #menu li.active a, .contraste #menu li a:hover, .contraste #menu li a:focus, .contraste .nav .open > a, .contraste .nav .open > a:focus,.contraste .nav .open > a:hover {
    background: #fff;
    color: #000 !important; 
}
.contraste #menu li a{
    color: #fff;
    background: #000!important;
}
.contraste #menu li ul li a {
    color: #000 !important;
    background:  #fff;
}
.contraste .bolinhas span{
    color: #fff;
}
.contraste .bolinhas span.cycle-pager-active{
    color: #333;
}
.contraste .data-agenda{
    background: #000;
}
.contraste .agenda .active{
    background: #fff !important;
    color: #000;
}
.contraste .agenda p {
    color: #fff;
}
.contraste .btn-search{
    color: #000 !important;
}
