#menu-barra-temp{
    list-style:none;
}
#linha-barra-1{
    display:inline; 
    float:left;
    padding-right:10px; 
    margin-right:10px; 
    border-right:1px solid #EDEDED
}
#link-barra-1{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
#link-barra-2{
    font-family:sans,sans-serif; 
    text-decoration:none; 
    color:white;
}
/* index Ufopa
*/
.titulo-barra .titulo, .informes .titulo{
  width: max-content;
  width: -moz-max-content;
  margin-bottom: -3px;
  padding-bottom: 9px;
}
.titulo-barra {
  border-bottom: 3px solid #e1e1e1;
  margin-bottom: .5em;
}.destaque{
  padding-left: 0;
}
.destaque-noticias{
  padding: 0;
}
.destaque-nivel-1{
  margin-top: 2em;
}
.banner-fixo-admin{
  margin:3em 0;
}
.titulo-barra-noticias{
  margin-right: 15px;
}
.titulo-barra-noticias .mais{
  padding: 0;
  margin-top: -15px;
}
.noticia-com-img{
  padding-left: 0;
}
.noticia-com-img .tag{
  position: absolute;
}
.noticia-com-img .data {
    margin-top: 20px;
    display: inline-block;
}
.noticia-com-img  h2 {
  font-size: 1.82em;
  margin-top: 0;
  line-height: 120%;
  padding-left: 0;
}
.noticia-com-img  .bordas {
  margin-bottom: 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 342px;
}
.noticia-com-img .bordas-men {
  margin-bottom: 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 120px;
  margin-left: 0;
  margin-right: 0;
}
.bordas-men .col-md-4 {
  padding-left: 0;
  padding-right: 0;
}
.noticia-img-men  .tag-men {
  z-index: 100;
  float: left;
  position: relative;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 10px;
  padding: .2em;
  position: relative;
}

.noticia-img-men  .bordas-men {
  margin:0 0 30px;
  border-bottom: 2px solid #C8C8C8;
  min-height: 120px;
}
.noticia-img-men p {
  line-height: 1.15;
  margin-top: 10px;
  font-size: 14px;
}
#agenda .nanoAgenda {
  height: 410px;
  font-size: 1.7em; 
}
#agenda .data-agenda {
 font-size: 1.3em;
}
#agenda .feed-post-body-title{
  border-top: 0 none;
  letter-spacing: -1px;
  line-height: 1.2;
  padding: 0;
  word-wrap: break-word;
  margin-top: -3px;
}
#agenda .agenda-local{
  font-size: 14px;
  margin: 0;
}
.btn-utilitarios {
  padding: 1px 0;
}
#redes-sociais{
  margin-top: 30px;
}

/* Fim index Ufopa
*/
/* lateral index Ufopa
*/
.links-uteis a {
  display: block;
  margin-bottom: 1px;
}
.links-uteis .hoverzoom2:hover > a > img {
  -webkit-transform: scale(1.005);
  -moz-transform: scale(1.005);
  -ms-transform: scale(1.005);
  -o-transform: scale(1.005);
  transform: scale(1.005);
}
.links-uteis .hoverzoom2 > a > img {
  max-width: none;
}
.institutos .hoverzoom2:hover > a > img {
  -webkit-transform: scale(1.025);
  -moz-transform: scale(1.025);
  -ms-transform: scale(1.025);
  -o-transform: scale(1.025);
  transform: scale(1.025);
}
.hoverzoom2 {
  position: relative;
  overflow: hidden;
  margin-bottom: 3px;
  padding: 0;
}
.hoverzoom2 a{
  background:#879397;
  border-bottom: 4px solid #54656b;
}
.icone-1 a:hover{
  background:#c27b1c;
  border-bottom:4px solid #c27b1c;
}
.icone-2 a:hover{
  background:#658f67;
  border-bottom:4px solid #658f67;
}.icone-3 a:hover{
  background:#56918e;
  border-bottom:4px solid #56918e;
}.icone-4 a:hover{
  background:#b28c22;
  border-bottom:4px solid #b28c22;
}.icone-5 a:hover{
  background:#a43100;
  border-bottom:4px solid #a43100;
}.icone-6 a:hover{
  background:#3f7269;
  border-bottom:4px solid #3f7269;
}.icone-7 a:hover{
  background:#e6bb5c;
  border-bottom:4px solid #e6bb5c;
}.icone-8 a:hover{
  background:#bec470;
  border-bottom:4px solid #bec470;
}.icone-9 a:hover{
  background:#808c6e;
  border-bottom:4px solid #808c6e;
}.icone-10 a:hover{
  background:#00656e;
  border-bottom:4px solid #00656e;
}.icone-11 a:hover{
  background:#5cb8c5;
  border-bottom:4px solid #5cb8c5;
}.icone-12 a:hover{
  background:#ba7043;
  border-bottom:4px solid #ba7043;
}.icone-13 a:hover{
  background:#747f3f;
  border-bottom:4px solid #747f3f;
}
.institutos {
  margin-top: 2.5em;
}
/* Fim lateral index Ufopa
*/
