{% extends 'manage/index.html' %}
{% load bootstrap manage_admin_tags %}

{% block container %}
	{% if operacao %}
	<form method="post" id="form">
		{% csrf_token %}
		{{ form|bootstrap }}
		<div class="form-group col-sm-12">
			<button type="submit" class="btn btn-primary"><i class="glyphicon glyphicon-floppy-save"></i>&nbsp;Gravar</button>
			<button type="button" id="_cancelar_" class="btn btn-danger" name="_cancelar_" onclick="clicked()"><i class="fa fa-fw fa-times"></i>&nbsp;Cancelar</button>
		</div>
	</form>
	{% else %}
	<p>
	<a href="?new=group"><i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;Cadastrar novo grupo</a>
	{% if grupo_papeis %}
	&nbsp;&nbsp;|&nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#vincula_permiisao_"><i class="fa fa-exchange" aria-hidden="true"></i>&nbsp;Vincular permissão</a>
	&nbsp;&nbsp;|&nbsp;&nbsp;<a href="{{request.path}}" title="Retornar"><i class="fa fa-undo" aria-hidden="true"></i>&nbsp;Retornar</a>
	{% endif %}
	</p>
	
	{% if grupo_papeis %}
	{{ grupo.grupo_name }}
	<table class="table">
		{% with permissoes=grupo_papeis.papeis.all %}
		{% has_list_permissoes_from_grupo_papel papeis=permissoes as contents_type %}
		<thead><tr><th>Conteúdo</th><th>Permissão</th><th>&nbsp;</th></tr></thead>
		<tbody>
			{% if grupo_papeis.grupo %}
			{% for c_type in contents_type %}
			<tr><th>{{c_type.descricao}}</th>
			<th>
				{% has_list_permissoes_from_grupo_papel permissoes=permissoes tipo=c_type as papeis %}
				{% for p in papeis %}
					{{ p.papel_name }}<a href="?desvincular_permissao={{grupo.id}}_{{p.id}}"><i class="fa fa-fw fa-trash"></i></a>
				{% endfor %}
			</th>
			<td></td>
			</tr>
			{% endfor %}
			{% else %}
				<tr><td colspan="3" >Nenhum papel vinculado</td></tr>
			{% endif %}
		</tbody>
		{% endwith %}
	</table>
	{% include 'manage/m_vincula_permissao.html' %}
	{% else %}
	<table class="table">
		<thead><tr><th>Nome do grupo</th><th>&nbsp;</th></tr></thead>
		<tbody>
			{% if grupos %}
			{% for g in grupos %}
			<tr><td>{{ g.grupo_name|upper }}</td>
			<td style="width: 10%; text-align: center;">
			<a href="?edit={{g.grupo_name}}" title="Editar grupo"><i class="fa fa-pencil" aria-hidden="true"></i></a>&nbsp;&nbsp;
			<a href="?permissao={{g.grupo_name}}" title="Vincular permissão"><i class="fa fa-exchange" aria-hidden="true"></i></a>&nbsp;&nbsp;
			<a href="?delete={{g.grupo_name}}" title="Excluir grupo"><i class="fa fa-trash" aria-hidden="true"></i></a>
			</td></tr>
			{% endfor %}
			{% else %}
			<tr><td colspan="2" >Nenhum grupo cadastrado</td></tr>
			{% endif %}
		</tbody>
	</table>
	{% endif %}
	{% endif %}

{% endblock container %}