{% load manage_admin_tags %}

<div class="modal fade" id="vincula_permiisao_" tabindex="-1" data-keyboard="false" data-backdrop="static">
	<div class="modal-dialog">
		<form action="?vincular={{grupo.grupo_name}}" method="POST">
			{% csrf_token %}
			<input type="hidden" name="_method" value="vincular"/>
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Vincular permissão ao grupo.</h4>
				</div>
				
				<div class="modal-body">
					{% has_list_papeis grupo=grupo.grupo_name as list_papeis %}
					{% if list_papeis %}
					<span>Selecione uma permissão a ser vinculado ao grupo.</span>
					<ul style="padding-top: 2em; list-style: none; padding-left: 0px;">
						<li style="border-bottom: 1px solid #ccc; margin-bottom: 1em;"><input type="checkbox" id="select_all">&nbsp;<span>Selecionar tudo</span></li>
					{% for p in list_papeis %}
						<li><input type="checkbox" class="cbx" value="{{p.id}}" name="content_permissao">&nbsp;<span>{{ p.papel_name }} - {{p.content_type.descricao}}</span></li>
					{% endfor %}
					</ul>
					{% else %}
						<p><strong>Nenhum permissão encontrada, todas já foram selecionados.</strong></p>
					{% endif %}
				</div>
				
				<div class="modal-footer">
					<button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
					<button type="submit" class="btn btn-primary">Vincular</button>
				</div>
			</div>
		</form>
	</div>
</div>
