{% load portal_tags %}

<div class="col-sm-9 conteudo-comum">
	{% has_breadcrumbs %}
	<div class="conteudo-comum-titulos"> 
    	<h2 class="titulos-comum">{{object.titulo}}</h2>
    </div>
    {% if object.descricao %}<p>{{object.descricao}}</p> {% endif %}
    <ul class="list-group">
        <li class="list-group-item row">
        	<a href="{{object.arquivo.url}}" target="_blank">
            	<i class="fa fa-2x fa-file-text-o col-sm-1" aria-hidden="true"></i>
            	<!-- <p class="col-sm-9 titulo-arquivo" >{{object.titulo}}</p> -->
            	<p class="text-right col-sm-11" > Baixar arquivo</p> 
            </a>          
        </li>
    </ul>
	
</div>