{% load portal_tags %}

{% has_list_objects_arquivo as contents %}
<div class="feed-post">
   <div class="feed-post-body">
   		{% if contents %}
        <ul class="list-group">
			  {% for obj in contents %}
				  <li class="list-group-item row">            	
            <a href="{{obj.arquivo.url}}" target="_blank">
              <i class="fa fa-2x fa-file-text-o col-sm-1" aria-hidden="true"></i>
              <p class="col-sm-8 titulo-arquivo" >{{ obj.titulo }}</p>
              <p class="text-right col-sm-3" > Baixar arquivo</p> 
            </a>
          </li>
      {% endfor %}   
		 	</ul>
    </div>
      	{% else %}
			<p style="text-align: center; margin-top: 2em;" ><string>Atualmente não existem Arquivo nesta pasta.</string></p>
		{% endif%} 
</div>

            
  
