{% load portal_tags %}

{% has_list_objects_agenda hoje='True' as contents %}
{% if contents %}
 <ul class="list-compromissos">
	{% for obj in contents %}
	<li class="item-compromisso"> 
		<div class="agenda-horarios">
			<span class="feed-post-time-label data text-right">{{obj.data_at|date:'H:i'}}</span>
		</div>
		<div class="agenda-dados">
	      	<h4 class="agenda-titulo">{{obj.titulo}}</h4>
	      	<p class="agenda-local"><label>Local:</label> Palácio do Planalto </p> 	       
      	</div>
  	</li>	
	{% endfor %}
</ul>								
{% else %}
	<p style="text-align: center; margin-top: 2em;" ><string>Atualmente não existem compromissos agendados.</string></p>
{% endif%}  
